*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --accent :  #205996;
    --accent-hover :#132538;
    --bg-color: #ffffff;
    --bgc: #fff;
    --cardbg :#fff;
    --gold-accent:#e0a106;
    --minshadow:rgba(0,0,0,0.5);
    --shadow: 0 2px 5px rgba(0,0,0,0.05);
    --text: #111;
    --whitetext: #ffffff;
}
/* fonts */
@font-face {
    font-family: 'Merienda';
    src: url('/assets/fonts/Merienda-Regular.ttf'), format(truetype);
    font-display: swap;
    font-weight: bold;
 }
@font-face {
    font-family: 'PlayFair Display';
    src: url('/assets/fonts/PlayfairDisplay-Regular.ttf'), format(truetype);
    font-display: swap;
 }
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf'), format(truetype);
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family : 'Merriweather';
    src: url('assets/fonts/Merriweather_36pt-Regular.ttf'), format(truetype);
    font-display: swap;
}
/* general body style */
html {scroll-behavior: smooth;}
i {
    font-size: 1.2rem;
 color: var(--accent-hover);
}
.skiplink {
background: #111;
color: white;
 padding: 12px 15px;
z-index: 0;
position: absolute;
top: -1000;
left: 0;
transition: top .3s ease-in-out;
cursor: pointer;
opacity: 0;
}
.skiplink:focus {
    opacity: 1;
    z-index: 200;
   top: 0;
    border: 2px solid var(--gold-accent);
}
 
body {
    font-family: 'Poppins', serif;
    line-height: 1.6;
    color: var(--text);
    background-color:var(--bg-color);
}
/* heading style */
h1, h2, h3 {
    font-family:'PlayFair Display', 'Merriweather';
}
 h4 {
font-family:'Merienda';
}
/* navigation */
#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(225, 225, 225, 0.95);
    z-index: 10;
    box-shadow: var(--shadow);
    border-bottom: 1px solid var(--bg-color);
}
.navLinks {
    list-style-type: none;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--bgc);
    align-items: center;
     top: 70px;
    right: 0;
    width: 100%;
    height: 100vh;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1) inset;
   z-index: 0;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: clamp(20px, 5vw, 40px);
    color: var(--accent-hover) ;
    font-weight: 600;
    align-self:center;
 }
.navLinks li {
     margin:20px 0;
    position: relative;
    top: 3rem;
  }
.navLinks > li:last-child {
      margin:unset;
   }
.navLinks a, .privacy {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    font-size: 1.2rem;
    transition: color .3s ease-in-out;
}
.privacy {
    font-size: initial;
}
.privacy:hover {
    color: var(--accent);
    text-decoration: underline;
}
.navLinks a:hover{
    color: var(--accent);
}
.navLinks.active {
    display: flex;
}
/* nav toggle */
#navMenuBtn {
    cursor: pointer;
    margin: 1rem;
    width: fit-content;
    background-color: transparent;
    display: grid;
    place-items: center;
    border: transparent;
}
.bar {
    height: 3px;
    width: 20px;
    background-color: black;
    margin: .2rem;
}
/* Hero section */
.hero {
    height: 100vh;
    background: url('assets/images/hero_laughing_hikers.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--whitetext);
    object-fit: cover;
}
.hero::after {
    content: "";
    position: absolute;
    text-indent: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.heroContents {
    position: relative;
    z-index: 1;
 }
.hero h1 {
    font-family: "PlayFair Display", serif;
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero p {
    margin-bottom: 50px;
    font-size: 1.2rem;
    text-shadow: 4px 4px 4px #574444;
    color: var(--whitetext);
}
 
.btn {
background-color: var(--accent);
color: var(---whitetext);
padding: 10px 25px;
border: none;
border-radius: 10px;
text-decoration: none;
font-size: 1rem;
 transition: background-color 0.3s ease-in-out;
font-weight: 700;
width: 250px;
}
.btn:hover {
    background: var(--accent-hover);
    color: var(--whitetext);
}
/* main section animations */
.mysection{ 
    opacity: 0;
    transition: opacity .6s ease-out, transform .6s ease-out;
    transform: translateY(-20px);
}
.mysection.visible  {
    opacity: 1;
    transform: none;
 }
/* different direction animation */

 .leftSide {
    transform: translateX(-30px);
}
.rightSide {
    transform: translateX(30px);
}
 
 /* main section animation end */
/* about section */
section {
    padding: 100px 30px;
}
#about p {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
}
/* services section style */

#about h2, #services h2, #testimonials h2, #destinations h2,  #experience h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.3rem;
} 
h3 {
    font-size: 1.3rem;
}
.serviceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}
.card {
    background-color: var(--cardbg);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px var(--minshadow);
    transition: transform .3s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
}
.card i { width: 100%;
    font-size: 3rem;
    color: #e0a106;
    margin-bottom: 15px;
    transition: transform .3s ease-in-out;
}
.card i:hover {
    transform: translateX(10px);
}
.card .fa-plane-departure:hover {
        transform: translateX(-100px);
}
.card h3 {
    margin-bottom: 15px;
}
/* destinations style */
.destinationGrid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 1.5rem;
}
.destinationCard {
    overflow: hidden;
    height: 300px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity .3s ease-out, transform .3s ease-out;
}
.destinationCard:hover {
    transform: scale(1.03);
}
.destinationCard img{
    width:100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    z-index: 0;
    inset:0;
}

.destinationCard .destContent {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.6), transparent) ;
    color: white;
    padding: 1rem;
    text-align: center;
    opacity: 0;
    transform: translateY(20%);
    transition: transform .6s ease-out, opacity 0.6s ease-out;
}
.destinationCard.visible {
    opacity: 1;
    transform: translateY(0);
}
.destinationCard.visible .destContent {
    transform: translateY(0);
    opacity: 1;
}
.destContent h2 {
        text-align: center;
}
 .destp {
    margin-bottom: 1rem;
 }
#destinations {
    background: url('assets/images/plane_wings.webp') center/cover no-repeat;
    color: white;
    position: relative;
    z-index: 0;
}
#destinations::before {
    content: '';
    inset: 0;
    position: absolute;
    background: var(--minshadow);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 0;
}
#destinations > * {
    position:  relative;
    z-index:1;
}
/* testimony */
.testimonialGrid, .experienceGrid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.testimonial {
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 10px;
    font-style: italic;
}
.testimonial h4 {
    text-align: center;
    margin: 20px auto;
    font-weight: 700;
}
/* contact style */
#contact {
    background-color: #0d1b2ad2;
    color: white;
}
#contact h2 , p {
    text-align: center;
}
#contact p {
    max-width: 600px;
    margin: 20px auto;
    display: block;
}
.contactForm {
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 15px;
}
label {
    font-weight: 900;
}
form input, form textarea {
    padding: 12px;
    border: 1px solid #ccc;
}
form span {
    color: red;
}
form button {
    align-self:center;
}

/* newsletter */
.newsletter {
    background-color: #0d1b2a;
    padding: 5px;
    height: 200px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px 0 10px 0;
    display: grid;
    place-items: center;
    color: var(--gold-accent);
}
.news {
    font-size: .9rem;
    padding: 0 3px;
 }
.footForm button {
    padding: 10px 20px;
    border: none;
    cursor:pointer;
    text-align: center;
 }
.footForm input  {
    padding: 10px;
    border: 1px dotted var(--gold-accent);
}
/* footer */
footer {
    padding: 20px ;
    background: rgba(225, 225, 225, 0.95);

}
footer div ul  {
margin-top: 2rem;}
footer div ul li {
    list-style-type: none;
    margin: 10px 0;
}
footer div ul li a {
    text-decoration: none;
    color: var(--text);
    transition: text-decoration .3s ease-in-out, color
    .3s ease-in-out;
}
footer div ul li a:hover {
    color: var(--accent);
    text-decoration: underline;
}
.footflex {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 2rem;
}
.footh3 {
    padding: 0;
    margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
#navMenuBtn {
    display: none;
}
.navLinks {
     display: flex;
    flex-direction: row;
    position: unset;
    background-color: unset;
    top: unset;
    right: unset;
    width: unset;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   
}
.navLinks li {
    margin-top: unset;
    top: 0;
    margin-right: 1rem;
    margin-bottom: unset;
}
.navLinks a {
     text-decoration: none;
     font-weight: 500;
    transition: color .3s ease-in-out;
}
 
 
.footForm {
    display: flex;
    flex-direction: row;
    padding: 0;
    max-width: 600px;

}
.news {
    font-size: 1rem;
    padding:unset;
    line-height: unset;
    margin: 0;
}
.footForm button {
    padding: 10px 20px;
    min-width: 250px;
    margin: 0;
}
.footForm input  {
    padding: 10px;
    border: 1px solid var(--gold-accent);
       min-width: 300px;
margin: 0;
}
}

/* scroll to top button */
.scrollBtn {
    width: 30px;
    height: 30px;
    position: fixed;
    background-color: var(--accent);
    color: var(--whitetext);
    font-size: 1.2rem;
    z-index: 3;
    cursor: pointer;
    right: 3rem;
    border-radius: 5px;
    border: transparent;
    transition: background-color .3s ease, visibility .3s ease-in-out;
    bottom: 5rem;
    opacity: 0;
    visibility: hidden;
}
.scrollBtn:hover {
    background-color: var(--accent-hover);
} 
.scrollBtn.show {
    opacity: 1;
    visibility: visible;
}

/* focus for unouts and btn elements */
.scrollBtn:focus, input:focus, textarea:focus, .skiplink {
outline: 1px solid var(--gold-accent);
box-shadow:  2px 2px 2px 2px var(--minshadow);
} 
i {
        font-display: swap;
}

img.expImg {
max-width:100%;
height: auto;
display:block;
box-shadow: 0 3px 4px 4px var(--minshadow);
border-radius: 6px;
}
@media (prefers-reduced-motion: reduce) {
    .mysection, .destinationCard, .destinationCard .destcontent {
        opacity: 1 ;
        transform: none !important;
        transition: none !important;
    }
}
#newsBtn {
    color: var(--whitetext);
}