*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* fonts */
@font-face {
    font-family: 'Merienda';
    src: url('/assets/fonts/Merienda-Regular.ttf'), format(truetype);
    font-display: swap;
    font-weight: bold;
 }
@font-face {
    font-family: 'PlayFair Display';
    src: url('/assets/fonts/PlayfairDisplay-Regular.ttf'), format(truetype);
    font-display: swap;

 
 }
@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf'), format(truetype);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family : 'Merriweather';
    src: url('assets/fonts/Merriweather_36pt-Regular.ttf'), format(truetype);
}
/* general body style */
html {scroll-behavior: smooth;}
i {
    font-size: 1.2rem;
 color: #0d1b2a;
}
.skiplink {
background: #111;
color: white;
 padding: 12px 15px;
z-index: 0;
position: absolute;
top: -1000;
left: 0;
transition: top .3s ease-in-out;
cursor: pointer;
opacity: 0;
}
.skiplink:focus {
    opacity: 1;
    z-index: 10000;
   top: 0;
    border: 2px solid #e0a106;
}
body {
    font-family: 'Poppins', serif;
    line-height: 1.6;
    color: #333;
    background-color:#fff;
}
/* heading style */
h1, h2, h3 {
    font-family:'PlayFair Display', 'Merriweather';
}
 h4 {
font-family:'Merienda';
}
/* navigation */
#navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(225, 225, 225, 0.95);
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}
.navLinks {
    list-style-type: none;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #fff;
    align-items: center;
    justify-content: enter;
    top: 70px;
    right: 0;
    width: 500px;
    height: 100vh;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   
}
.logo {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #0d1b2a;
    font-weight: 600;
}
.navLinks li {
    text-align: center;
    margin: 10px;
    margin-top: 25px;
}
.navLinks a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color .3s ease-in-out;
}
.navLinks a:hover {
    color: #e0a106;
}
.navLinks.active {
    display: flex;
}
/* nav toggle */
#navMenuBtn {
    cursor: pointer;
    margin: 1rem;
    width: fit-content;
    background-color: transparent;
    display: grid;
    place-items: center;
    border: transparent;
}
.bar {
    height: 3px;
    width: 20px;
    background-color: black;
    margin: .2rem;
}
/* Hero section */
.hero {
    height: 100vh;
    background: url('assets/images/hero_laughing_hikers.webp') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    object-fit: cover;
}
.hero::after {
    content: "";
    position: absolute;
    text-indent: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.heroContents {
    position: relative;
    z-index: 1;
    color: gold;
}
.hero h1 {
    font-family: "PlayFair Display", serif;
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    text-shadow: 4px 4px 4px #574444;
    color: white;
}
.btn {
background-color: #e0a106;
color: white;
padding: 12px 25px;
border: none;
border-radius: 10px;
text-decoration: none;
font-weight: 500;
transition: background-color 0.3s ease-in-out;
font-weight: 700;
width: 250px;
}
.btn:hover {
    background-color: #0d1b2a;
}
/* about section */
section {
    padding: 100px 30px;
}
#about p {
    max-width: 800px;
    margin: auto;
    text-align: center;
    font-size: 1.1rem;
}
/* services section style */

#about h2, #services h2, #testimonials h2, #destinations h2,  #experience h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.3rem;
} 
h3 {
    font-size: 1.3rem;
}
.serviceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}
.card {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    transition: transform .3s ease-in-out;
}
.card:hover {
    transform: translateY(-5px);
}
.card i { width: 100%;
    font-size: 3rem;
    color: #e0a106;
    margin-bottom: 15px;
    transition: transform .3s ease-in-out;
}
.card i:hover {
    transform: translateX(10px);
}
.card .fa-plane-departure:hover {
        transform: translateX(-100px);
}
.card h3 {
    margin-bottom: 15px;
}
/* destinations style */
.destinationGrid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 25px;
}
.destination {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
}
.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

/* testimony */
.testimonialGrid, .experienceGrid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

}
.testimonial {
    background-color: #f7f7f7;
    padding: 25px;
    border-radius: 10px;
    font-style: italic;
}
.testimonial h4 {
    text-align: center;
    margin: 20px auto;
    font-weight: 700;
}
/* contact style */
#contact {
    background-color: #0d1b2ad2;
    color: white;
}
#contact h2 , p {
    text-align: center;
}
#contact p {
    max-width: 600px;
    margin: 20px auto;
    display: block;
}
.contactForm {
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    gap: 15px;
}
label {
    font-weight: 900;
}
form input, form textarea {
    padding: 12px;
    border: 1px solid #ccc;
}
form span {
    color: red;
}
form button {
    align-self:center;
}

/* newsletter */
.newsletter {
    background-color: #0d1b2a;
    padding: 5px;
    height: 200px;
    width: 100%;
    margin: 10px auto;
    border-radius: 10px 0 10px 0;
    display: grid;
    place-items: center;
    color: #e0a106;
}
.news {
    font-size: .9rem;
    padding: 0 3px;
    line-height: 1.4;
}
.footForm button {
    padding: 10px 20px;
    border: none;
    cursor:pointer;
    text-align: center;
    width: fit-content;
}
.footForm input  {
    padding: 10px;
    border: 1px solid #e0a106;
}
/* footer */
footer {
    padding: 20px ;
    background: rgba(225, 225, 225, 0.95);

}
footer div ul  {
margin-top: 2rem;}
footer div ul li {
    list-style-type: none;
    margin: 10px 0;
}
footer div ul li a {
    text-decoration: none;
    color: #111;
    transition: text-decoration .3s ease-in-out, color
    .3s ease-in-out;
}
footer div ul li a:hover {
    color: #e0a106;
    text-decoration: underline;
}
.footflex {
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 2rem;
}
.footh4 {
    padding: 0;
    margin: 1rem 0;
}

@media screen and (min-width: 1024px) {
#navMenuBtn {
    display: none;
}
.navLinks {
     display: flex;
    flex-direction: row;
    position: unset;
    background-color: unset;
    top: unset;
    right: unset;
    width: unset;
    height: auto;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
   
}
.navLinks li {
    margin-top: unset;
    margin-right: 1rem;
}
.navLinks a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color .3s ease-in-out;
}
.footForm {
    display: flex;
    flex-direction: row;
    padding: 0;
        max-width: 600px;

}
.news {
    font-size: 1rem;
    padding:unset;
    line-height: unset;
    margin: 0;
}
.footForm button {
    padding: 10px 20px;
    min-width: 250px;
    margin: 0;
}
.footForm input  {
    padding: 10px;
    border: 1px solid #e0a106;
       min-width: 300px;
margin: 0;
}
}